img.cutie {
    width: 50%;
    height:auto;
}

p.review {
    margin-left:150px;
    margin-right:150px;
    text-align: center;
}

img.mugs {
    width:50%;
    height:auto;
}

img.muumi {
    width:30%;
    height:auto;
}

img.after {
    width:60%;
    height:auto;
}